.green-bg {
  background-color: #42aa2d !important;
  border: none;

  &[type="button"] {
    border: 1px solid #33a51c;

    &:hover {
      background-color: #359b20 !important;
    }
  }
}

.red-bg {
  background-color: #e43c3c !important;
  border: none;

  &[type="button"] {
    border: 1px solid #ca2f2f;
    &:hover {
      background-color: #ca2f2f !important;
    }
  }
}
.grey-bg {
  background-color: #dddddd;
  padding: 1px 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #cacaca;
  }
}

.icon-blue {
  color: #3860bc;
}

.btn-primary {
  background-color: #2979d4;
}

.navbar-bg-programmika {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 87%,
    rgba(18, 24, 131, 1) 87%,
    rgba(18, 24, 131, 1) 100%
  ) !important;
  height: 100%;
}

@media (max-width: 767px) {
  .navbar-bg-programmika {
    background: none !important;
    overflow-x: none;
  }
}
.bg-programmika {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(18, 24, 131, 1) 30%,
    rgba(18, 24, 131, 1) 100%
  );
}

.green-text {
  color: #289521;
  font-weight: 600;
}
.red-text {
  color: #df1414;
  font-weight: 600;
}
