table {
  thead {
    background-color: #2979d4;
    width: 100%;
    tr {
      th {
        color: #fff;

        font-weight: 700 !important;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle !important;
      }
    }
  }
}

.finance-table {
  tbody {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
    tr {
      td {
        vertical-align: middle !important;
      }
      td:nth-child(1) {
        width: 100%;
      }
    }
  }
}

.ag-header-cell-text {
  font-size: 13px !important;
}

@media (max-width: 600px) {
  .student-row {
    font-size: 15px;
  }
}

.finance-card {
  min-width: "175px";
  width: 100%;
  max-width: "300px";
}
