// admin
@import "./animations";
@import "./colors";
@import "./paymentStatuses";

@import "./monthController";

@import "./inputs/buttons";
@import "./inputs/input";

@import "./modals/newLesson";
@import "./modals/lesson";
@import "./authorization/auth";
@import "./table";
@import "./views/debts";

@import "./sidebar";

// user
@import "./userProfile/index";

.center-text {
  text-align: center;
  color: #4f4f4f;
  height: 300px;
  display: grid;

  place-items: center;
}

.gap-5 {
  gap: 0.5rem;
}

a {
  text-decoration: none !important;
}

.modal {
  top: 50px;
}

.MuiContainer-root {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.css-yrdy0g-MuiDataGrid-columnHeaderRow {
  background-color: #2979d4 !important;
  * {
    color: #fff;
  }
}

.MuiDataGrid-footerContainer {
  flex-direction: row-reverse;
  align-items: center;
  .MuiTablePagination-displayedRows {
    margin: 0;
  }
}

.modal-custom {
  display: flex;
  flex-direction: column;
  margin: auto;

  overflow-x: hidden;
}
.MuiDialogTitle-root {
  border-bottom: 1px solid #c9cccf;
}
