// admin
@import "./animations";
@import "./colors";
@import "./paymentStatuses";

@import "./monthController";

@import "./inputs/buttons";
@import "./inputs/input";

@import "./modals/newLesson";
@import "./modals/lesson";
@import "./authorization/auth";
@import "./table";
@import "./views/debts";

// user
@import "./userProfile/index";

.center-text {
  text-align: center;
  color: #4f4f4f;
  height: 300px;
  display: grid;

  place-items: center;
}
